.App{
    width: 100%;
    height: 100%;
    display: flex;
}

.poppins-600{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.orangeText{
    color: #F7542E;
}

.noto-500{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

ul{
    list-style-type: none;
}

nav{
    width: 15%;
    height: 100vh;
    background-color: #FAFBFD;
}

.mainContent{
    width: 85%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}